/* colors.scss
   ------------------------------------------ */

$color_blue_dark: #0e496b;
$color_blue_light: #2b6e9a;
$color_yellow_dark: #fcd854;
$color_yellow_light: #f8f390;

$color_background_white: #ffffff;
$color_background_gray: #dcdedd;

$color_titles: #231f20;
