<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 id="title">title</h1>
    <p id="ptag">dit is een p tag</p>
    <ul>
        <li>een</li>
        <li>twee</li>
        <li>driw</li>
    </ul>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://localhost:8081/');
        window.socket = socket;
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('init', function(msg) {
                document.getElementById("ptag").innerText = JSON.stringify(msg);
        });
        socket.on('update', function(msg) {
                document.getElementById("ptag").innerText = JSON.stringify(msg);
        });

        socket.on('historyInit', function(msg) {
            console.log("HISTORYINIT : "+ JSON.stringify(msg));
        });

        socket.on('historyUpdate', function(msg) {
            console.log("HISTORYUPDATE : "+ JSON.stringify(msg));
        });
    </script>

</body>
</html>